.character-card {
  background-color: #151515;
  color: #fff;
  cursor: pointer;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: #e62429;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  &:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  h4 {
    padding: 0 15px;
    position: relative;
  }
}
